<!doctype html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
    <meta name="description" content="DJoz Template">
    <meta name="keywords" content="DJoz, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block title %} DJ music{% endblock %}</title>

    <!-- Bootstrap core CSS -->
   
    <link rel="stylesheet" href="{{asset ("assets/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/barfiller.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/nowfont.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/rockville.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/magnific-popup.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/owl.carousel.min.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/slicknav.min.css")}}">
    <link rel="stylesheet" href="{{asset ("assets/css/style.css")}}">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
    

</head>
<body>
<header>
   
 
 {% block content %}
 
 {% endblock %}

  

</body>
</html>