<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="DJ Miche">
		<meta name="keywords" content="DJ Miche">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>
			{% block title %}
				DJ Miche
			{% endblock %}
		</title>

      <link href="{{asset ('assets/css/carousel.css')}}" rel="stylesheet">

		<link rel="stylesheet" href="{{asset ("assets/css/bootstrap.min.css")}}">
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{asset ("assets/css/font-awesome.min.css")}}">
		
		
		<link rel="stylesheet" href="{{asset ("assets/css/rockville.css")}}">
		
		<link rel="stylesheet" href="{{asset ("assets/css/owl.carousel.min.css")}}">
		
		<link rel="stylesheet" href="{{asset ("assets/css/style.css")}}">
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">

	</head>
	<body>
		 {% if block('carousel') is defined %}
		<header>
	
			<header class="header">
				<img src="assets/img/events/logo.png" alt="logo" width="250" height="250">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2"></div>

						<div class="col-lg-10 col-md-10">

							<div class="header__nav">

								<nav class="header__menu mobile-menu">


									<div class="navbar-item-custom">
										{% if app.user %}
											<a href="{{path('account')}}">Mon Compte
												<small>
													({{ app.user.firstname}})</small>
											</a>
											|
											<a href="{{path('app_logout')}}">Déconnexion</a>
										{% else %}
											<a href="{{path('app_login')}}">Connexion</a>
											|
											<a href="{{path('register')}}">Inscription</a>
										{% endif %}
									</div>
								</nav>


								<div class="header__right__social">
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
									<a href="#">
										<i class="fa fa-dribbble"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</header>
               
                
				<main>
					
						<section class="hero spad set-bg" data-setbg="assets/img/hero-bg.png">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="hero__text">
											<span>Nouveau single</span>
											<h1>Dj Miche, the best of planet</h1>

											<a href="https://www.youtube.com/watch?v=K4DyBUG242c" class="play-btn video-popup">
												<i class="fa fa-play"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="linear__icon">
								<i class="fa fa-angle-double-down"></i>
							</div>
						</section>

						<section class="event spad">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="section-title">
											<h2>Futurs Evénements</h2>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="event__slider owl-carousel">
										<div class="col-lg-4">
											<div class="event__item">
												<div class="event__item__pic set-bg" data-setbg="assets/img/events/event-1.jpg">
													<div class="tag-date">
														<span>20 Avril 2022</span>
													</div>
												</div>
												<div class="event__item__text">
													<h4>David Guetta Miami Ultra</h4>
													<p>
														<i class="fa fa-map-marker"></i>
														Lyon, France</p>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="event__item">
												<div class="event__item__pic set-bg" data-setbg="assets/img/events/event-2.jpg">
													<div class="tag-date">
														<span>15 Fevrier 2022</span>
													</div>
												</div>
												<div class="event__item__text">
													<h4>David Guetta Miami Ultra</h4>
													<p>
														<i class="fa fa-map-marker"></i>
														 Berlin, Germany</p>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="event__item">
												<div class="event__item__pic set-bg" data-setbg="assets/img/events/event-3.jpg">
													<div class="tag-date">
														<span>10 Dècembre 2022</span>
													</div>
												</div>
												<div class="event__item__text">
													<h4>David Guetta Miami Ultra</h4>
													<p>
														<i class="fa fa-map-marker"></i>
														Paris, France</p>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="event__item">
												<div class="event__item__pic set-bg" data-setbg="assets/img/events/event-2.jpg">
													<div class="tag-date">
														<span>18 juillet 2022</span>
													</div>
												</div>
												<div class="event__item__text">
													<h4>David Guetta Miami Ultra</h4>
													<p>
														<i class="fa fa-map-marker"></i>
														New-york, US</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="about spad">
							<div class="container">
								<div class="row">
									<div class="col-lg-6">
										<div class="about__pic">
											<img src="assets/img/about/about.png" alt="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="about__text">
											<div class="section-title">
												<h2>DJ Alexandra Rud</h2>
												<h1>À propos de moi</h1>
											</div>
											<p>DJ Rainflow sait comment émouvoir votre esprit, votre corps et votre âme en vous proposant des morceaux qui sortent de la norme. Comme si cette impressionnante succession de bombes à fort impact n'était pas suffisante pour durer..</p>
											<a href="#" class="primary-btn">Contactez moi</a>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="services">
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-6 p-0">
										<div class="services__left set-bg" data-setbg="assets/img/services/service-left.jpg">
											<a href="https://www.youtube.com/watch?v=JGwWNGJdvx8" class="play-btn video-popup">
												<i class="fa fa-play"></i>
											</a>
										</div>
									</div>
									<div class="col-lg-6 p-0">
										<div class="row services__list">
											<div class="col-lg-6 p-0 order-lg-1 col-md-6 order-md-1">
												<div class="service__item deep-bg">
													<img src="assets/img/services/service-1.png" alt="">
													<h4>Marriage</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
												</div>
											</div>
											<div class="col-lg-6 p-0 order-lg-2 col-md-6 order-md-2">
												<div class="service__item">
													<img src="assets/img/services/service-2.png" alt="">
													<h4>Clubs et bar</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
												</div>
											</div>
											<div class="col-lg-6 p-0 order-lg-4 col-md-6 order-md-4">
												<div class="service__item deep-bg">
													<img src="assets/img/services/service-4.png" alt="">
													<h4>DJ cours</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
												</div>
											</div>
											<div class="col-lg-6 p-0 order-lg-3 col-md-6 order-md-3">
												<div class="service__item">
													<img src="assets/img/services/service-3.png" alt="">
													<h4>Evénements</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="track spad">
							<div class="container">
								<div class="row">
									<div class="col-lg-7">
										<div class="section-title">

											<h1>Musiques podcast</h1>
										</div>
									</div>
									<div class="col-lg-5">
										<div class="track__all">
											<a href="#" class="primary-btn border-btn">Voir tous les titres</a>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-7 p-0">
										<div class="track__content nice-scroll">
											<div class="single_player_container">
												<h4>David Guetta Miami Ultra</h4>
												<div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="assets/music-files/1.mp3"></div>
												<div class="jp-audio jp_container_1" role="application" aria-label="media player">
													<div class="jp-gui jp-interface">


														<div class="player_controls_box">
															<button class="jp-play player_button" tabindex="0"></button>
														</div>

														<div class="player_bars">
															<div class="jp-progress">
																<div class="jp-seek-bar">
																	<div>
																		<div class="jp-play-bar">
																			<div class="jp-current-time" role="timer" aria-label="time">0:00
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
														</div>

														<div class="jp-volume-controls">
															<button class="jp-mute" tabindex="0">
																<i class="fa fa-volume-down"></i>
															</button>
															<div class="jp-volume-bar">
																<div class="jp-volume-bar-value" style="width: 0%;"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="single_player_container">
												<h4>David Guetta Miami Ultra</h4>
												<div class="jp-jplayer jplayer" data-ancestor=".jp_container_2" data-url="assets/music-files/2.mp3"></div>
												<div class="jp-audio jp_container_2" role="application" aria-label="media player">
													<div class="jp-gui jp-interface">

														<div class="player_controls_box">
															<button class="jp-play player_button" tabindex="0"></button>
														</div>

														<div class="player_bars">
															<div class="jp-progress">
																<div class="jp-seek-bar">
																	<div>
																		<div class="jp-play-bar">
																			<div class="jp-current-time" role="timer" aria-label="time">0:00
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
														</div>

														<div class="jp-volume-controls">
															<button class="jp-mute" tabindex="0">
																<i class="fa fa-volume-down"></i>
															</button>
															<div class="jp-volume-bar">
																<div class="jp-volume-bar-value" style="width: 0%;"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="single_player_container">
												<h4>David Guetta Miami Ultra</h4>
												<div class="jp-jplayer jplayer" data-ancestor=".jp_container_3" data-url="assets/music-files/3.mp3"></div>
												<div class="jp-audio jp_container_3" role="application" aria-label="media player">
													<div class="jp-gui jp-interface">

														<div class="player_controls_box">
															<button class="jp-play player_button" tabindex="0"></button>
														</div>

														<div class="player_bars">
															<div class="jp-progress">
																<div class="jp-seek-bar">
																	<div>
																		<div class="jp-play-bar">
																			<div class="jp-current-time" role="timer" aria-label="time">0:00
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
														</div>

														<div class="jp-volume-controls">
															<button class="jp-mute" tabindex="0">
																<i class="fa fa-volume-down"></i>
															</button>
															<div class="jp-volume-bar">
																<div class="jp-volume-bar-value" style="width: 0%;"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="single_player_container">
												<h4>David Guetta Miami Ultra</h4>
												<div class="jp-jplayer jplayer" data-ancestor=".jp_container_4" data-url="assets/music-files/4.mp3"></div>
												<div class="jp-audio jp_container_4" role="application" aria-label="media player">
													<div class="jp-gui jp-interface">

														<div class="player_controls_box">
															<button class="jp-play player_button" tabindex="0"></button>
														</div>

														<div class="player_bars">
															<div class="jp-progress">
																<div class="jp-seek-bar">
																	<div>
																		<div class="jp-play-bar">
																			<div class="jp-current-time" role="timer" aria-label="time">0:00
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
														</div>

														<div class="jp-volume-controls">
															<button class="jp-mute" tabindex="0">
																<i class="fa fa-volume-down"></i>
															</button>
															<div class="jp-volume-bar">
																<div class="jp-volume-bar-value" style="width: 0%;"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="single_player_container">
												<h4>David Guetta Miami Ultra</h4>
												<div class="jp-jplayer jplayer" data-ancestor=".jp_container_5" data-url="assets/music-files/5.mp3"></div>
												<div class="jp-audio jp_container_5" role="application" aria-label="media player">
													<div class="jp-gui jp-interface">

														<div class="player_controls_box">
															<button class="jp-play player_button" tabindex="0"></button>
														</div>

														<div class="player_bars">
															<div class="jp-progress">
																<div class="jp-seek-bar">
																	<div>
																		<div class="jp-play-bar">
																			<div class="jp-current-time" role="timer" aria-label="time">0:00
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
														</div>

														<div class="jp-volume-controls">
															<button class="jp-mute" tabindex="0">
																<i class="fa fa-volume-down"></i>
															</button>
															<div class="jp-volume-bar">
																<div class="jp-volume-bar-value" style="width: 0%;"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="single_player_container">
												<h4>David Guetta Miami Ultra</h4>
												<div class="jp-jplayer jplayer" data-ancestor=".jp_container_6" data-url="assets/music-files/6.mp3"></div>
												<div class="jp-audio jp_container_6" role="application" aria-label="media player">
													<div class="jp-gui jp-interface">

														<div class="player_controls_box">
															<button class="jp-play player_button" tabindex="0"></button>
														</div>

														<div class="player_bars">
															<div class="jp-progress">
																<div class="jp-seek-bar">
																	<div>
																		<div class="jp-play-bar">
																			<div class="jp-current-time" role="timer" aria-label="time">0:00
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
														</div>

														<div class="jp-volume-controls">
															<button class="jp-mute" tabindex="0">
																<i class="fa fa-volume-down"></i>
															</button>
															<div class="jp-volume-bar">
																<div class="jp-volume-bar-value" style="width: 0%;"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-5 p-0">
										<div class="track__pic">
											<img src="assets/img/track-right.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="youtube spad">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="section-title">

											<h1>Dérnières videos</h1>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6">
										<div class="youtube__item">
											<div class="youtube__item__pic set-bg" data-setbg="assets/img/youtube/youtube-1.jpg">
												<a href="https://www.youtube.com/watch?v=yJg-Y5byMMw?autoplay=1" class="play-btn video-popup">
													<i class="fa fa-play"></i>
												</a>
											</div>
											<div class="youtube__item__text">
												<h4>David Guetta Miami Ultra Music Festival 2022</h4>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6">
										<div class="youtube__item">
											<div class="youtube__item__pic set-bg" data-setbg="assets/img/youtube/youtube-2.jpg">
												<a href="https://www.youtube.com/watch?v=K4DyBUG242c?autoplay=1" class="play-btn video-popup">
													<i class="fa fa-play"></i>
												</a>
											</div>
											<div class="youtube__item__text">
												<h4>Martin Garrix (Full live-set) | SLAM!Koningsdag</h4>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6">
										<div class="youtube__item">
											<div class="youtube__item__pic set-bg" data-setbg="assets/img/youtube/youtube-3.jpg">
												<a href="https://www.youtube.com/watch?v=S19UcWdOA-I?autoplay=1" class="play-btn video-popup">
													<i class="fa fa-play"></i>
												</a>
											</div>
											<div class="youtube__item__text">
												<h4>Dimitri Vegas, Steve Aoki & Like Mike’s “3 Are Legend”</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="countdown spad set-bg" data-setbg="assets/img/countdown-bg.jpg">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="countdown__text">
											<h1>WildCodeSchoolLand 2022</h1>
											<h4>Music festival commence dans</h4>
										</div>
										<div class="countdown__timer" id="countdown-time">
											<div class="countdown__item">
												<span>20</span>
												<p>jours</p>
											</div>
											<div class="countdown__item">
												<span>45</span>
												<p>heures</p>
											</div>
											<div class="countdown__item">
												<span>18</span>
												<p>minutes</p>
											</div>
											<div class="countdown__item">
												<span>09</span>
												<p>secondes</p>
											</div>
										</div>
										<div class="buy__tickets">
											<a href="#" class="primary-btn">Achetez des billets</a>
										</div>
									</div>
								</div>
							</div>
						</section>


					</main>
				

                <div class="container marketing{% if block('carousel') is not defined %} mt-5 {% endif %}">
    {#Ajouter cette classe si le carousel n'est pas défini (mt-5= marge de 5)#}
 {% block content %} {% endblock %}
 

    </div>
				<main>
					<footer class="footer spad set-bg" data-setbg="assets/img/footer-bg.png">
						<div class="container">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="footer__address">
										<ul>
											<li>
												<i class="fa fa-phone"></i>
												<p>Téléphone</p>
												<h6>06 66 33 25 88</h6>
											</li>
											<li>
												<i class="fa fa-envelope"></i>
												<p>Email</p>
												<h6>Dj.miche@hotmail.fr</h6>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 offset-lg-1 col-md-6">
									<div class="footer__social">
										<h2>DJ Miche</h2>
										<div class="footer__social__links">
											<a href="#">
												<i class="fa fa-facebook"></i>
											</a>
											<a href="#">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="#">
												<i class="fa fa-instagram"></i>
											</a>
											<a href="#">
												<i class="fa fa-dribbble"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-3 offset-lg-1 col-md-6">
									<div class="footer__newslatter">
										<h4>Pour nous contacter</h4>
										<form action="#">
											<input type="text" placeholder="Email">
											<button type="submit">
												<i class="fa fa-send-o"></i>
											</button>
										</form>
									</div>
								</div>
							</div>

							<div class="footer__copyright__text">
								<p>Copyright &copy;
									<script>
										document.write(new Date().getFullYear());
									</script>
									<i class="fa fa-heart" aria-hidden="true"></i>
									by
									<a href="" target="_blank">Michel Hoffmann</a>
								</p>
							</div>

						</div>
					</footer>


				</main>
{% endif %}

				<!-- Js Plugins Js-->
				<script src="{{asset ('assets/js/jquery-3.3.1.min.js')}}"></script>
				<script src="{{asset ('assets/js/bootstrap.min.js')}}"></script>
				<script src="{{asset ('assets/js/js/jquery.magnific-popup.min.js')}}"></script>
				<script src="{{asset ('assets/js/jquery.nicescroll.min.js')}}"></script>
				<script src="{{asset ('assets/js/jquery.barfiller.js')}}"></script>
				<script src="{{asset ('assets/js/jquery.countdown.min.js')}}"></script>
				<script src="{{asset ('assets/js/jquery.slicknav.js')}}"></script>
				<script src="{{asset ('assets/js/owl.carousel.min.js')}}"></script>
				<script src="{{asset ('assets/js/main.js')}}"></script>
                <script src="{{asset ('assets/js/bootstrap.bundle.js')}}"></script>

				<!-- Music Plugin -->
				<script src="{{asset ('assets/js/jquery.jplayer.min.js')}}"></script>
				<script src="{{asset ('assets/js/jplayerInit.js')}}"></script>
			</body>
		</html>
	
