{% extends 'base.html.twig' %}
<header>
	
			<header class="header">
				<img src="assets/img/events/logo.png" alt="logo" width="250" height="250">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2"></div>

						<div class="col-lg-10 col-md-10">

							<div class="header__nav">

								<nav class="header__menu mobile-menu">


									<div class="navbar-item-custom">
										{% if app.user %}
											<a href="{{path('account')}}">Mon Compte
												<small>
													({{ app.user.firstname}})</small>
											</a>
											|
											<a href="{{path('app_logout')}}">Déconnexion</a>
										{% else %}
											<a href="{{path('app_login')}}">Connexion</a>
											|
											<a href="{{path('register')}}">Inscription</a>
										{% endif %}
									</div>
								</nav>


								<div class="header__right__social">
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
									<a href="#">
										<i class="fa fa-dribbble"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</header>

{% block carousel %}{% endblock %}

